@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&family=Zilla+Slab:wght@400;700&display=swap');

:root{
    --cor-primaria: #428475;
    --cor-secundaria: #89D7B7;
    --cor-terciaria: #FFF4E1;
    --cor-background: #1A312C;
    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Zilla Slab', serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2 {
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
}

strong {
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 18%;
}

.cabecalho__menu{
    display: flex;
    justify-content: flex-start;
    gap: 80px;
}

.cabecalho__menu__link{
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 0.2rem solid var(--cor-primaria);
    border-radius: 20px;
}

.apresentacao{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    margin: 5% 16%;
    animation: transicao 0.7s ease forwards;
}

.apresentacao__conteudo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 2rem;
    text-align: justify;
    font-size: 2rem;
}

.apresentacao__conteudo h1{
    text-align: start;
}

.apresentacao__foto {
    max-height: 30rem;
    width: auto;
    height: auto;
    max-width: 30rem;
    border-radius: 10%;
}

.contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 5% 0;
}

.contatos__links {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    text-decoration: none;
    border: 0.2rem solid var(--cor-primaria);
    padding: 0.5rem 1rem;
    border-radius: 20px;
}


.contatos__links__img {
    width: 3.2rem;
    height: 3.2rem;
}

.rodape {
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    text-align: center;
    padding: 1rem 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    width: 100%;
}

.cabecalho__menu__link:hover {
    background-color: var(--cor-primaria);
    transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes transicao {
    from {
        opacity: 0;
        transform: translateY(24px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
        text-align: justify;
        margin: 0;
    }
    .apresentacao__conteudo h1{
        text-align: center;
    }
}